[Unit]
Description=Kill all SSH sessions before system shutdown
Before=network.target

[Service]
Type=simple
ExecStart=-/usr/bin/sh %h/.config/systemd/user/scripts/kill-ssh-sessions

[Install]
WantedBy=halt.target poweroff.target reboot.target shutdown.target sleep.target
